{
  "editorconfig": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 200,
  "plugins": ["prettier-plugin-java"],
  "overrides": [
    {
      "files": "*.java",
      "options": {
        "tabWidth": 2,
        "printWidth": 200
      }
    }
  ]
}
